<div class="container">
  <div class="lang-switcher">
    <button (click)="switchLanguage('fr')" class="flag" title="{{ 'Language.French' | translate }}">
      <img src="./assets/images/fr-flag.png" class="flag" alt="{{ 'AltText.FrenchFlag' | translate }}">
    </button>
    <button (click)="switchLanguage('en')" class="flag" title="{{ 'Language.English' | translate }}">
      <img src="./assets/images/uk-flag.png" class="flag" alt="{{ 'AltText.UKFlag' | translate }}">
    </button>
    <button (click)="switchLanguage('ger')" class="flag" title="{{ 'Language.German' | translate }}">
      <img src="./assets/images/ger-flag.png" class="flag" alt="{{ 'AltText.GerFlag' | translate }}">
    </button>
  </div>

  <header>
    <img src="./assets/images/logo.png" alt="{{ 'AltText.Logo' | translate }}" class="logo"/>
    <h1>{{ 'LeCalme.Title' | translate }}</h1>
    <h2>{{ 'LeCalme.Subtitle' | translate }}</h2>
  </header>
  <hr class="rounded">

  <section id="about">
    <h2>{{ 'Section.About.Title' | translate }}</h2>
    <div>
      <div class="presentation-text">
        <p>{{ 'LeCalme.Presentation' | translate }}</p>
      </div>
      <div class="carousel">
        <button class="change-image" (click)="prevImage()">
          {{ 'Buttons.Previous' | translate }}
        </button>
        <img
          [src]="currentImage"
          alt="{{ 'AltText.PresentationPic' | translate }}"
          [class.fade-out]="isFading"
        />
        <button class="change-image" (click)="nextImage()">
          {{ 'Buttons.Next' | translate }}
        </button>
      </div>
      <p>{{ 'LeCalme.Menu' | translate }}</p>
    </div>
  </section>

  <section id="booking">
    <button
      class="accordion-toggle"
      (click)="toggleSection('booking')"
      (keydown)="handleKeydown($event, 'booking')"
      [attr.aria-expanded]="openedSections['booking']"
      [attr.aria-controls]="'content-booking'"
    >
      <h2>{{ 'Section.Booking.Title' | translate }}</h2>
      <span class="arrow" [class.open]="openedSections['booking']">▼</span>
    </button>
    <div
      id="content-booking"
      class="accordion-content"
      [class.open]="openedSections['booking']"
      [attr.aria-hidden]="!openedSections['booking']"
    >
      <p>
        {{ 'Section.Booking.Description' | translate }}
        <a
          href="https://www.booking.com/hotel/fr/le-calme-plesse.fr.html"
          [attr.aria-label]="'Aria.BookingLink' | translate"
          target="_blank"
        >
          <img class="booking-logo" src="./assets/images/booking.png" alt="{{ 'AltText.BookingLogo' | translate }}">
        </a>
      <hr class="rounded">
      <div class="menu">
        <h3>{{ 'Section.Booking.MenuTitle'| translate }}</h3>
        <div class="card-container">
          <div class="card">
            <img class="card-arabesque" src="./assets/images/arabesque.png" alt="A decorating arabesque">
            <p>{{ 'Section.Booking.Starter' | translate }}</p>
            <p>{{ 'Section.Booking.Main' | translate }}</p>
            <p>{{ 'Section.Booking.Cheese' | translate }}</p>
            <p>{{ 'Section.Booking.Dessert' | translate }}</p>
            <div class="menu-price"><p>{{ 'Section.Booking.NormalPrice' | translate }}</p></div>
          </div>
          <div class="card">
            <img class="card-arabesque" src="./assets/images/arabesque.png" alt="A decorating arabesque">
            <p>{{ 'Section.Booking.Seafood' | translate }}</p>
            <div class="menu-price"><p>{{ 'Section.Booking.SeafoodPrice' | translate }}</p></div>
          </div>
        </div>
        <div class="reservation-delay"><p>{{ 'Section.Booking.ReservationDelay' | translate }}</p>
        </div>
        <hr class="rounded">
        <div class="breakfast">
          <h3>{{ 'Section.Booking.BreakfastTitle'| translate }}</h3>
          <div>
            <mat-icon>bakery_dining</mat-icon>
            <mat-icon>coffee</mat-icon>
            <p>{{ 'Section.Booking.Breakfast'| translate }}</p>
            <p>{{ 'Section.Booking.BreakfastMenu'| translate }}</p>
            <mat-icon>schedule</mat-icon>
            <p>{{ 'Section.Booking.BreakfastTime'| translate }}</p></div>
        </div>
      </div>
    </div>
  </section>
  <section id="modalities">
    <button
      class="accordion-toggle"
      (click)="toggleSection('modalities')"
      (keydown)="handleKeydown($event, 'modalities')"
      [attr.aria-expanded]="openedSections['modalities']"
      [attr.aria-controls]="'content-modalities'"
    >
      <h2>{{ 'Section.Modalities.Title' | translate }}</h2>
      <span class="arrow" [class.open]="openedSections['modalities']">▼</span>
    </button>
    <div
      id="content-modalities"
      class="accordion-content"
      [class.open]="openedSections['modalities']"
      [attr.aria-hidden]="!openedSections['modalities']"
    >
      <ul>
        <li>{{ 'Section.Modalities.Times'| translate }}</li>
        <li>{{ 'Section.Modalities.Animals'| translate }}</li>
        <li>{{ 'Section.Modalities.Smoking'| translate }}</li>
        <li>{{ 'Section.Modalities.Kids'| translate }}</li>
        <li>{{ 'Section.Modalities.Wifi'| translate }}</li>
        <li>{{ 'Section.Modalities.Parking'| translate }}</li>

      </ul>

    </div>
  </section>

  <section id="contact">
    <button
      class="accordion-toggle"
      (click)="toggleSection('contact')"
      (keydown)="handleKeydown($event, 'contact')"
      [attr.aria-expanded]="openedSections['contact']"
      [attr.aria-controls]="'content-contact'"
    >
      <h2>{{ 'Section.Contact.Title' | translate }}</h2>
      <span class="arrow" [class.open]="openedSections['contact']">▼</span>
    </button>
    <div
      id="content-contact"
      class="accordion-content"
      [class.open]="openedSections['contact']"
      [attr.aria-hidden]="!openedSections['contact']"
    >
      <div class="card-container">
        <div class="card">
          <mat-icon>mail</mat-icon>
          <a href="mailto:contact@lecalme.fr"><p>{{ 'Section.Contact.Email' | translate }}</p></a>
        </div>
        <div class="card">
          <mat-icon>phone</mat-icon>
          <a href="tel:+33768170686"><p>{{ 'Section.Contact.Phone' | translate }}</p></a>
        </div>
      </div>
    </div>
  </section>

  <section id="location">
    <button
      class="accordion-toggle"
      (click)="toggleSection('location')"
      (keydown)="handleKeydown($event, 'location')"
      [attr.aria-expanded]="openedSections['location']"
      [attr.aria-controls]="'content-location'"
    >
      <h2>{{ 'Section.Location.Title' | translate }}</h2>
      <span class="arrow" [class.open]="openedSections['location']">▼</span>
    </button>
    <div
      id="content-location"
      class="accordion-content map"
      [class.open]="openedSections['location']"
      [attr.aria-hidden]="!openedSections['location']"
    >

      <div class="location-cities">
        <ul>
          <li>{{ 'Section.Location.Distance.Nantes' | translate }}</li>
          <li>{{ 'Section.Location.Distance.Rennes' | translate }}</li>
          <li>{{ 'Section.Location.Distance.SaintNazaire' | translate }}</li>
          <li>{{ 'Section.Location.Distance.Vannes' | translate }}</li>
        </ul>
      </div>
      <hr class="rounded">
      <div class="address">{{ "Section.Location.Address" |translate }}</div>
      <iframe
        title="{{ 'AltText.MapTitle' | translate }}"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2961.898782035469!2d-1.9315344668908065!3d47.51399391471273!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480f794dac40ef5f%3A0x123ea5283bebc8d0!2sLe%20calme!5e0!3m2!1sfr!2sfr!4v1746445945504!5m2!1sfr!2sfr"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section>

  <section id="activities">
    <button
      class="accordion-toggle"
      (click)="toggleSection('activities')"
      (keydown)="handleKeydown($event, 'activities')"
      [attr.aria-expanded]="openedSections['activities']"
      [attr.aria-controls]="'content-data'"
    >
      <h2>{{ 'NearbyActivities.Title' | translate }}</h2>
      <span class="arrow" [class.open]="openedSections['activities']">▼</span>
    </button>
    <div
      id="content-activities"
      class="accordion-content"
      [class.open]="openedSections['activities']"
      [attr.aria-hidden]="!openedSections['activities']"
    >
      @for (category of ['nature', 'museum', 'castle', 'pedal_bike']; track category) {
        <h3 class="activity-type">
          <mat-icon>{{ category }}</mat-icon>
          {{ category | translate }}
        </h3>
        <div class="activity-cards-container">
          @for (activity of activities; track activity) {
            @if (activity.type === category) {
              <div class="activity">
                <h4>{{ activity.title }}</h4>
                <div class="activity-info">{{ activity.description }}</div>
                <a href="{{ activity.link }}" target="_blank">
                  {{ 'SeeOnMap' | translate }}
                </a>
              </div>
            }
          }
        </div>
        <hr class="rounded">
      }
    </div>
  </section>
</div>

<footer class="site-footer">
  <div class="footer-content">
    <p>&copy; {{ currentYear }} Le Calme. {{ 'Footer.Copyright' | translate }}</p>
    <nav>
      <a href="#" [attr.aria-label]="'Footer.BackToTop' | translate ">{{ 'Footer.BackToTop' | translate }}</a>
      <a href="https://www.linkedin.com/in/kevingalerne?originalSubdomain=fr" target="_blank">
        {{ 'Footer.ContactDev' | translate }}
      </a>
    </nav>
  </div>
</footer>
